/*
 Theme Name:   %pretty-name%
 Theme URI:    https://github.com/curtistinkers/%text-domain%
 Description:  %description%
 Author:       curtistinkers
 Author URI:   https://curtistinkers.com
 Template:     twentytwentyfive
 Version:      0.1.0
 License:      MIT
 Tags:         blog, dark, light, accessibility-ready, one-column, custom-colors, custom-header, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, translation-ready
 Text Domain:  %text-domain%
*/
